@import "tailwindcss";

.glow-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    margin: auto;
    width: 100%;
    height: 100%;
    transform: scale(1.3);
    filter: blur(40px);
    background: linear-gradient(90deg, #0fffc1, #7e0fff);
    background-size: 200% 200%;
    animation: animateGlow 10s linear infinite;
    border-radius: inherit;
    transform: translate(-50%, -50%);
    transform-origin: center;
  }

  .backface-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  
  
  @keyframes animateGlow {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  