@tailwind base;
@tailwind components;
@tailwind utilities;

  
  @keyframes animateGlow {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  
  @layer utilities {
    .gloweffect {
      position: absolute;
      inset: -1.0rem; /* vergelijkbaar met -inset-6 */
      z-index: -1;
      border-radius: inherit;
      animation: mono-color-glow 16s ease-in-out infinite;
      filter: blur(24px);
      opacity: 0.6;
      will-change: transform;
      
    }
  }
  
  @keyframes mono-color-glow {
    0% {
      background-color: rgba(15, 255, 193, 0.3);
    }
    25% {
      background-color: rgba(126, 15, 255, 0.3);
    }
    50% {
      background-color: rgba(255, 0, 212, 0.3);
    }
    75% {
      background-color: rgba(0, 255, 148, 0.3);
    }
    100% {
      background-color: rgba(15, 255, 193, 0.3);
    }
  }
  